#Application
APP_SECRET=
APP_WEB_URL=http:localhost:3000


APP_API_URL=http://localhost:3333
APP_WEB_URL=http:localhost:3000


# AWS Ceedentials
AWS_ACCESS_KEY_ID=AKIAQZGSPPQF73YNUO5B
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION=

# Storage
STORAGE_DRIVER=disk

#MaiL
MAIL_DRIVER=ethereal


